
.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px 0;
  background-color: #A149FA;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.article {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.article:hover {
  transform: translateY(-5px);
}

.article a {
  text-decoration: none;
  color: #333;
}

.article h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.article p {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 10px;
}

#container__article-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 20px;
  background-color: #fff;
  transition: transform 0.2s;
}

#container__article-list h1 {
  text-align: center;
}